body {
    font-family: satoshi, sans-serif;
    margin: 0;
    padding: 0;
}

.ProgramPage__grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
    margin: 16px 0px;
    /* background-color: aqua; */
}

.ProgramPage__left {
    /* background-color: yellow; */
    padding: 0 16px;
}

.ProgramPage__right {
    /* background-color: lightgreen; */
    padding: 0 16px;
}

.Program__element {
    align-items: center;
    display: flex;
    justify-items: space-between;



}

.text {
    margin: 0px 6px;
}