.home-title {
        font-family: 'Satoshi', sans-serif;
        text-align: center;
        margin: 40px 20px;
        width: 50%;
        background-image: url(&quot;https://cdn.filestackcontent.com/6BuKGScCRy2Cb9VXfQwx&quot;);
    }