a.Button {
  font-size: 16px;
  color: white;
  background: #b2539a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 8px;
  text-decoration: none;
}

a.Button:hover {
  background: rgb(159, 74, 138);
}

div.Widget__action {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;

}