.V2_LeftMenuLayout__nav {
    display: block;
    width: var(--sidebar-width);
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: var(--colors-grey-900);
}

    .SidebarNavigationContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.SidebarNavigationContent__navigation-container {
    border-bottom: 1px solid var(--colors-grey-300);
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    list-style-type: none;
    margin: 0;
    margin-bottom: var(--space-4);
    padding: 0;
    padding-bottom: var(--space-4);
}

.SidebarNavigationContent__navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    padding: var(--space-2) var(--space-3);
    border-radius: var(--border-radius-1);
    margin: 5px 0;
}