

.SidebarNavigationContent__navigation-container {
    border-bottom: 1px solid var(--colors-grey-300);
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    list-style-type: none;
    margin: 0;
    margin-bottom: var(--space-4);
    padding: 0;
    padding-bottom: var(--space-4);
}