.V2_LeftMenuLayout__nav {
    display: block;
    width: var(--sidebar-width);
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: var(--colors-grey-900);
    min-width: 350px;


    position: sticky;
    top: 100px;
    overflow: auto;
    height: calc(100vh - 100px);
}

.SidebarNavigationContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0
}

.SidebarNavigationContent__navigation-container {
    border-bottom: 1px solid var(--colors-grey-300);
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    list-style-type: none;
    margin: 0;
    margin-bottom: var(--space-4);
    padding: 0;
    padding-bottom: var(--space-4);

}

.SidebarNavigationContent__navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    padding: var(--space-2) var(--space-3);
    border-radius: var(--border-radius-1);
    margin: 5px 0;
    color: inherit;
    text-decoration: none;
}

.SidebarNavigationContent__navigation_a {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    padding: var(--space-2) var(--space-3);
    border-radius: var(--border-radius-1);
    color: inherit;
    text-decoration: none;
    font-size: smaller;
}