.rootpage_item{
    width: 300px;
    font-family: 'Satoshi', sans-serif;
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    box-shadow: 0px 1px 2px #0000001a;
    overflow: clip;
    box-sizing: border-box;
}

.rootpage_item_img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 154px;
    width: 298px;
    padding: 1.25rem;
    background-color: rgb(178, 83, 154);
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: inherit;
}

.rootpage_item_body{
    padding: 1rem;
    color: black;
    margin: auto;
    margin-block-end: 1em;
    text-align: center;

}

.rootpage_item_title{
    color : rgb(178,83,154);
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
}

.rootpage_item_date{
    text-align: center;
}
