.HomeContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    align-items: center;
    margin: 10px;
    border: 1px solid #e7dbdb;
    border-radius: 16px;
    background: white;
    box-shadow: 0px 1px 2px #0000001a;
}

.HomeContent h2 {
    margin: 0;
    font-size: 35px;
    color: #333;
    text-align: center;
}

.HomeContent span {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    text-align: center;
}

.HomeContent h5 {
    font-weight: 450;
    font-size: 40px;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
}

.HomeContent .section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
    width: 80%;
    height: auto;
    box-shadow: 22px 12px 64px #0003;
    border-radius: 16px;
}