.header {
  background-color: #fff;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Collé aux extrémités */
.header__container {
  /* height: 40px; */
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin: 0;
  max-width: none;
}

.header__icon {
  font-weight: 600;
}

.header__profile {
  position: relative;
  /* IMPORTANT: ancre du dropdown */
  display: flex;
  gap: 1rem;
  align-items: center;
}


.header__profile-name {
  font-size: 16px;
  color: white;
  background: #b2539a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 8px;
  display: flex;
  align-items: center;

}


/* Dropdown sous Profil */
.modal {
  display: none;
  position: absolute;
  top: calc(100% + 0.5rem);
  right: 0;

  background-color: white;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  min-width: 220px;
  z-index: 1000;

  overflow: hidden;
  /* propre sur hover background */
}

.modal.active {
  display: block;
}

.modal__content {
  display: flex;
  flex-direction: column;
}

.modal__link {
  text-decoration: none;
  color: #333;
  padding: 0.75rem 1rem;
}

.modal__link:hover {
  background-color: #f5f5f5;
}


.header__profile-btn {
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header__profile-btn svg {
  width: 20px;
  height: 20px;
}