
.heading--level-1{
    font-size: 3rem;
    line-height: 1.5;
    font-family: 'Satoshi', sans-serif;
    color: #353b41;
}

.Heading {
    color: hsl(210 10% 23%);
    font-weight: 700;
    font-family: 'Satoshi', sans-serif;
    margin: 0;
    word-break: auto-phrase;
    overflow-wrap: anywhere;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.CommonPagesLayout__content{
    max-width: 960px;
    margin: 0 auto;
}

.RootPage__ts-list-header {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
}

.Heading--level-2 {
    font-size: 2rem;
    line-height: 1.375;
}

.RootPage__training-sessions-list {
    display: flex;
    width: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    padding: 2rem 0;
}