body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

section {
    font-family: 'Satoshi', sans-serif;
}

/* ===== Contenu page About ===== */

.main-content {
    padding: 24px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    top: 80px;
}

#about-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin: 50px 0;
}

#return-button {
    font-size: 16px;
    color: white;
    background: rgb(166, 77, 144);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 8px;
    text-decoration: none;
}

#return-button:hover {
    font-size: 16px;
    color: white;
    background: rgb(159, 74, 138);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 8px;
    text-decoration: none;
}

#IconSquare:hover {
    background: rgb(159, 74, 138);
}

h1,
h2,
h3 {
    background: linear-gradient(rgba(255, 0, 0, 0) 65%, rgba(210, 210, 214, 0.6) 35%);
    color: rgb(127, 119, 179);
}

#final-message {
    font-weight: bold;
    background: linear-gradient(rgba(255, 0, 0, 0) 65%, rgba(210, 210, 214, 0.6) 35%);
    color: rgb(127, 119, 179);
}