body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* ===== Contenu page About ===== */

.main-content {
    padding: 24px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    top: 80px;
}

#about-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

#return-button {
    font-size: 16px;
  color: white;
  background: #b2539a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 8px;
  text-decoration: none;
}
