.V2_LeftMenuLayout__body {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;

}

body {
    margin: 0;
    padding: 0;
    margin-left: 100px;
    margin-right: 100px;
}

.V2_LeftMenuLayout__content {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 20px;
    width: 60%   

}